h1 {
  color: tan;
}

.playerA {
  float: left;
}

.playerB {
  float: right;
}
.container{
  margin: 1%;
  width: 220px;
  text-align: center;
}

.spell-info {
  font-weight: bold;
  vertical-align: 2px;
  margin-left: 3px;
}


.inventory {
  position: absolute;
  padding-left: 60px;
  top: 720px;
}
