h1 {
  color: tan;
}

.playerA {
  float: left;
}

.playerB {
  float: right;
}
.container{
  margin: 1%;
  width: 220px;
  text-align: center;
}


/*spellbook*/
.spell-info {
  font-weight: bold;
  vertical-align: 2px;
  margin-left: 3px;
}


/*inventory*/
.inventory {
  position: absolute;
  padding-left: 60px;
  top: 720px;
}

.left {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 18px;
  left: 16px;
}

.right {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 18px;
  left: 142px;
}

.up {
  height: 64px;
  width: 64px;
  position: absolute;
  top: -47px;
  left: 78px;

}

.down {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 82px;
  left: 78px;
}

/*status bar*/

.playerA > .status-bar {
  height: 64px;
  width: 320px;
  position: absolute;
  top: 7px;
  left: 240px;
  display: flex;
  justify-content: flex-start;
}

.playerB > .status-bar {
  height: 64px;
  width: 320px;
  position: absolute;
  top: 7px;
  left: 880px;
  display: flex;
  justify-content: flex-end;
}

.status-effect {
  height: 64px;
  width: 64px;
}
